[wepay]
;======================= 商户开通的商户号
merchantNum = 22294531

;======================= 商户DES密钥
desKey = ta4E/aspLA3lgFGKmNDNRYU92RkZ4w2t

;=======================京东支付服务地址
; serverPayUrl=https://wepay.jd.com/jdpay/saveOrder

;=======================京东查询服务地址
; serverQueryUrl=http://paygate.jd.com/service/query

;=======================退款服务地址
; refundUrl=http://paygate.jd.com/service/refund

;=======================callback地址
callbackUrl=http://0.0.0.0:9100/callback.php

;=======================notify地址
notifyUrl=http://0.0.0.0:9100/notify.php
